#comments:not(:target) {
    display: none;
}
#comments:target {
    display: block;
}

.navbar-default {
    background-color:#205081;
}

.fa-circle-o-notch {
    color: white;
}
#bq {
    color: #f0ad4e;
}
